<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이미지 업로드</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colorcs.css') }}">
</head>
<body>
  <p>image upload with opencv</p>
  <div class="container">
    <form class="form">
      <div class="file-upload-wrapper" data-text="Select your file!">
        <input name="file-upload-field" type="file" class="file-upload-field" value="">
      </div>
    </form>
  </div>
  </div>
    <form action="" method="post"  enctype="multipart/form-data">
      <input type="file", name="img-path">
      <button type='submit'>Start Test</button>
  </form>
    <div>
    </div>
</body>
</html>
